# Node dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build / dist folders
dist/
dist-ssr/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders/settings
.vscode/
!.vscode/extensions.json
.idea/
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
